<p style="color: green"><%= notice %></p>
<% content_for :title do %>
  Entries &ndash; <%= Date.current.strftime("%B %d, %Y") %>
<% end %>
<div>
  <div class="columns mt-6 is-centered is-multiline" id="entries">
    <% @entries.each do |entry| %>
      <div class="column is-3">
        <div class="card">
          <header class="card-header is-bold">
            <b class="card-header-title is-centered">
              <%= entry.meal_type %>
            </b>
          </header>
          <div class="card-content">
            <div class="content">
              <p><span class="has-text-weight-bold"><%= entry.calories %></span> calories</p>
              <p><span class="has-text-weight-bold"><%= entry.proteins %></span> <%= entry.proteins == 1 ? 'gram' : 'grams' %> of proteins</p>
              <p><span class="has-text-weight-bold"><%= entry.carbohydrates %></span> <%= entry.carbohydrates == 1 ? 'gram' : 'grams' %> of carbohydrates</p>
              <p><span class="has-text-weight-bold"><%= entry.fats %></span> <%= entry.fats == 1 ? 'gram' : 'grams' %> of fats</p>
              <p class="italic">Logged: <%= time_ago_in_words(entry.created_at) %> ago</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="container has-text-centered">
            <div style="display: inline-block;">
              <%= link_to "Show", entry, class: "button is-primary is-medium mr-2" %>
              <%= link_to "Edit", edit_entry_path(entry), class: "button is-info is-medium mr-2" %>
              <%= button_to "Destroy", entry, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger is-medium", form: { style: "display: inline;" } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
